[Unit]
Description=Bot Ekko Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/ekko/bot_ekko/main.py
WorkingDirectory=/home/ekko/bot_ekko
StandardOutput=inherit
StandardError=inherit
Restart=always
User=ekko

[Install]
WantedBy=multi-user.target